# TLS Configuration for local mkcert certificates

tls:
  certificates:
    # Local development certificate (mkcert)
    - certFile: /certs/cert.pem
      keyFile: /certs/key.pem
      stores:
        - default

  stores:
    default:
      defaultCertificate:
        certFile: /certs/cert.pem
        keyFile: /certs/key.pem

  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305

    modern:
      minVersion: VersionTLS13
